
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 0;
  display: flex;
  flex-direction: column;/*elementi v stolpcu */
  align-items: center;
}


header {
  margin-top: 40px;
  font-size: 40px;
  color: #067a4f;
  font-weight: bold;
}




.jaja {
  background: #fff;
  border: 1px solid #eee;
  padding: 30px;
  border-radius: 6px;
  width: 350px;
  margin-top: 40px;
}


.tabs {
  display: flex;
  justify-content: center; /*sredina levo desno */
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #777;
  border-bottom: 3px solid transparent;
}

.tab.active {
  color: #111;
  border-color: #111;
}


h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 13px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

small {
  font-size: 11px;
  color: #666;
}

.checkbox {
  display: flex;
  align-items: flex-start;/*poravna ele. na zacetek namesto sredino */
  gap: 6px;
  font-size: 13px;
}


.btn {
  background-color: #111;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer; /*kazalec */
  margin-top: 10px;
}


.or {
  text-align: center;
  color: #666;
  margin: 15px;
  font-size: 13px;
}

.socials {
   display: flex; /* horizontalna razporeditev */
  justify-content: center; /*centrirano levo desno */
  gap: 10px; /*plac med ikonami */
  margin-top: 15px;
}
/*posamezne ikone*/
.social {
  display: flex;/*centriranje ikone v divu */
  align-items: center;/*poravnava gor dol */
  justify-content: center;
  width: 38px;                 
  height: 38px;
  border: 1px solid #ddd;     
  border-radius: 10%;          
  font-size: 18px;             
  color: #111;                 
}
/*hover efect */
.social:hover {
  background-color: #067a4f;/*zelen gumb */
  color: #fff;/*bela ikona */
  border-color: #067a4f;
}

p {
  text-align: center;
  font-size: 13px;
  color: #666;
  margin-top: 15px;
}

a {
  color: #067a4f;/*zelena */
  text-decoration: none;/*ni podcrtano */
}
/*responsive del */
@media (max-width: 400px) {
  main {
    width: 90%;          /*namesto 350px */
    padding: 20px;       
  }

  .social {
    width: 32px;         /*manjsi gumbi */
    height: 32px;
    font-size: 16px;
  }

  .btn {
    padding: 10px;      
    font-size: 14px;
  }
  header img {
    width: 120px; /*manjsi logo */
  }
  
}

